@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.container{
    position: relative;
}
.container img{
    opacity: 1;
    cursor: zoom-in;
}
.container:hover img{
    opacity: 0.5;
}
.btn{
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
    box-sizing: border-box;
}
.container:hover .btn{
    opacity: 1;
}
